@font-face {
  font-family: "iconfont"; /* Project id 4116664 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1702002546481') format('woff2'),
       url('iconfont.woff?t=1702002546481') format('woff'),
       url('iconfont.ttf?t=1702002546481') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-charging-station:before {
  content: "\ef63";
}

.icon-parking1:before {
  content: "\f066";
}

.icon-xiaoyuanwangyouxianshenqing:before {
  content: "\e715";
}

.icon-xiaoyuanwangyouxianshenqing-copy:before {
  content: "\e716";
}

.icon-parking-copy:before {
  content: "\e6f1";
}

.icon-charging-pile-2-fill-copy-copy:before {
  content: "\e6f2";
}

.icon-zhinengkeji-icon-9:before {
  content: "\e60c";
}

.icon-jiahao-copy-copy-copy:before {
  content: "\f06b";
}

.icon-jiahao-copy-copy:before {
  content: "\f068";
}

.icon-jiahao:before {
  content: "\e616";
}

.icon-jiahao-copy:before {
  content: "\f069";
}

