*{
    box-sizing: border-box;
  }
  html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    user-select: none;
    overflow: hidden;
  }
  body{
    background: url(./lib/images/bg0.jpg) no-repeat;
    background-size:100% 100%;
  }
  .syslogo{
    position: absolute;
    top:20px;
    left:20px;
    width:220px;
    z-index:1000;
  }
  .sysloginout{
    position: absolute;
    right:20px;
    top:30px;
    color:#fff;
    cursor: pointer;
    z-index:1000;
  }
  .base{
    position: absolute;
    left:50%;
    bottom:0;
    width:480px;
    height:320px;
    margin-left:-240px;
    background: url(./lib/images/base.png) no-repeat;
    background-size:100% 100%;
    /* animation:position 618ms infinite alternate ease-in-out; */
  }
  @keyframes position
    {
    from {transform: translate(0,0px);height:310px;}
    to {transform: translate(0,10px);height:300px;}
  }
  .earth{
    position: absolute;
    left:50%;
    bottom:210px;
    margin-left:-220px;
    width:440px;
    height:440px;
    /* background: url(./lib/images/earth.png) no-repeat;
    background-size:100% 100%; 
    animation:position1 618ms infinite alternate ease-in-out;*/
  }
  @keyframes position1
    {
    from {transform: translate(0,0px);}
    to {transform: translate(0,-10px);}
  }
  .cube{
    position: absolute;
    left:50%;
    bottom:130px;
    margin-left:-200px;
    width:400px;
    height:440px;
    background: url(./lib/images/cube.png) no-repeat;
    background-size:100% 100%;
    animation:position1 1500ms infinite alternate ease-in-out;
  }
  .item{
    position: absolute;
    width:140px;
    height:140px;
    background: url(./lib/images/nav_blue.png) no-repeat;
    background-size:100% 100%;
    color:#0D50B0;
    padding-top:40px;
    text-align: center;
    margin-left:-60px;
    cursor: pointer;
    line-height: 1;
    letter-spacing: 1px;
    transition: all ease 200ms;
    font-size:15px;
  }
  .item[url].active,
  .item[url]:hover{
    background: url(./lib/images/nav_white.png) no-repeat;
    background-size:100% 100%;
  }
  .item:not([url]){
    opacity: 0.8;
  }
  .item img{
    width:35px;
    height:35px;
    transition: all ease 200ms;
  }
  .item[url]:hover img{
    transform: scale(1.2);
  }
  /* .item>div{
    width:40px;
    height:40px;
    margin:auto;
    background: rgba(0,95,213,0.3);
    box-shadow: 0 0 3px 3px rgba(0,95,213,0.3);
    border-radius: 50%;
  } */
  .centerpos{
    width:0;
    height:0;
    position: absolute;
    bottom:0;
    left:50%;
  }
  #wrap{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    transform-origin: 50% 100%;
    transition: all ease 200ms;
    z-index:100;
  }